.flatpickr-calendar {
  background-color: #fff;
  width: 201px !important;
  //height: 215px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 14px 12px 12px 12px !important;
  font-family: var(--font-family) !important;
}

.flatpickr-current-month {
  padding: 0 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  width: 50% !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}

.flatpickr-current-month input.cur-year {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font-family);
}

.flatpickr-rContainer {
  width: 100%;
}

.flatpickr-months .flatpickr-month {
  height: 20px !important;
  margin-bottom: 5px;
}

span.flatpickr-weekday {
  color: var(--color-primary-text) !important;
}

.flatpickr-days {
  width: 100% !important;
}

.flatpickr-day {
  height: 23px !important;
  line-height: 23px !important;
  border-radius: 2px !important;

  &:focus {
    background-color: var(--color-calendar);
  }
}

.dayContainer {
  width: 100%;
  min-width: 182px !important;
  max-width: 182px !important;
}
