.item {
  display: none;
  background-color: var(--color-secondary-white);

  &__description {
    width: 100%;
    font-weight: 500;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    width: 100%;
    gap: 6px;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }
}
