:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Montserrat', sans-serif;

  --color-primary: #fafafa;
  --color-primary-text: #000;

  --color-secondary-header: rgba(255, 255, 255, 0.67);
  --color-secondary-grey: #929292;
  --color-secondary-grey-light: #c8c8c8;
  --color-secondary-blue: #3d8eda;
  --color-secondary-white: #ffffff;

  --shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12),
    inset 0 12px 24px 0 rgba(0, 0, 0, 0.12);
}

$bp-mobile-little: 440px;
$bp-mobile: 600px;
$bp-mobile-big: 640px;
$bp-tablet: 852px;
$bp-desktop: 992px;
$bp-large-desktop: 1280px;
