.content-section {
  position: relative;
  z-index: 1;
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list-row {
    gap: 8px;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 33px;
  }

  &__list-grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-mobile-little) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 8px;
      grid-row-gap: 16px;
    }

      @media screen and (min-width: $bp-mobile-big) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @media screen and (min-width: $bp-tablet) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
