.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--color-secondary-header);
  box-shadow: var(--shadow);
  padding: 6px 0 28px 0;

  &__container {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 6px;

    @media screen and (min-width: $bp-mobile) {
      gap: 36px;
    }

    @media screen and (min-width: $bp-tablet) {
      justify-content: start;
      padding: 0 55px;
      gap: 86px;
    }
  }

  &__description {
    margin-top: 17px;
    margin-right: 10px;

    @media screen and (min-width: $bp-mobile) {
      margin-top: 27px;
      margin-right: 0;
    }
  }

  &__top {
    display: flex;
    gap: 10px;
    align-items: start;

    @media screen and (min-width: $bp-mobile) {
      gap: 16px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    font-family: var(--second-family);
    letter-spacing: -0.01em;

    @media screen and (min-width: $bp-mobile) {
      font-size: 24px;
    }
  }

  &__start-on {
    height: 20px;
    width: 105px;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid var(--color-secondary-blue);
    border-radius: 2px;
    color: var(--color-secondary-blue);
    letter-spacing: -0.03em;

    @media screen and (min-width: $bp-mobile) {
      height: 28px;
      width: 135px;
      font-size: 13px;
    }
  }

  &__follows {
    display: flex;
    font-size: 12px;
    justify-content: space-around;

    @media screen and (min-width: $bp-mobile) {
      font-size: 14px;
    }
  }

  &__date {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-direction: column;

    @media screen and (min-width: $bp-mobile) {
      flex-direction: row;
    }
  }
}
