.main {
  position: relative;
  padding: 150px 10px 40px 10px;

  @media screen and (min-width: $bp-mobile) {
    padding: 190px 10px 61px 10px;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 190px 0 61px 0;
  }

  &:before {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
    display: block;
    width: 45%;
    height: 398px;
    content: '';
    background-image: url('../../public/images/decor-top.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:after {
    position: fixed;
    display: block;
    width: 210px;
    height: 368px;
    content: '';
    background-image: url('../../public/images/decor-right.png');
    right: 0;
    bottom: 41px;
    z-index: 0;
  }
}
